{% for event in event_collection %}
	<div class="event-tile {{event.event_type[0].slug}}" data-date="{{event.dates_0_date}}">
		<div class="image-wrapper">
			<a href="{{event.path}}">
				<div class="image" {% if Image(event.images[0]).src %}style="background-image:url('{{Image(event.images[0]).src('tile-image')}}');"{% endif %}></div>
			</a>
			{# event.image.sizes['thumbnail'].file #}
			{% if event.event_ticket_type[0].slug is not empty and event.event_ticket_type[0].slug != "no-booking-required" %}
				<div class="event-ticket {{ event.event_ticket_type[0].slug }}">{{event.event_ticket_type[0].name}}</div>
			{% endif %}
		</div>
		<div class="event-content">
			<div class="event-type">{{event.event_type[0].name}}</div>
			<h3 class="event-title"><a href="{{event.path}}">{{event.title}}</a></h3>
			<p class="event-body">{{event.post_content|striptags|length > 100 ? event.post_content|striptags|slice(0, 100) ~ '...' : event.post_content }}</p>
			{% if event.event_date %}
				<div class="event-date">{{event.event_date}}</div>
			{% endif %}
			{% if event.event_time %}
				<div class="event-time">{{event.event_time}}</div>
			{% endif %}
			{% if event.venue %}
				<div class="event-location">{{event.venue}}</div>
			{% endif %}
			{% if event.paid_event_information %}
				<div class="event-booking">{{event.paid_event_information}}</div>
			{% endif %}
			{#
			{% if event.event_ticket_type[0].slug is not empty and event.event_ticket_type[0].slug != "booked-out" %}
				<div class="event-booking">
					{% if event.event_ticket_type[0].slug == 'no-booking-required' %}
						Free Event
					{% elseif event.event_ticket_type[0].slug == 'book-ticket' and paid_event_information != '' %}
						{{paid_event_information}}
					{% else %}
						{{event.event_ticket_type[0].name}}
					{% endif %}
				</div>
			{% endif %}
			#}
			<div class="links-wrapper">
				<div class="readmore-wrapper"><a href="{{event.path}}">Read More</a></div>
				{#
				{% if event.event_ticket_type[0].slug is not empty and event.event_ticket_type[0].slug != "booked-out" %}
					<div class="event-ticket {{ event.event_ticket_type[0].slug }}"><span>{{event.event_ticket_type[0].name}}</span></div>
				{% endif %}
				#}
			</div>
		</div>
	</div>
{% endfor %}