<div class="banner banner-narrow banner-right" >
	<div class="banner-container" >
		<div class="banner-inner" >
			<div class="banner-content banner-content-middle" >
				<div class="page-banner-wrapper">
					{% if post.thumbnail %}
						<div class="page-banner" style="background-image: url('{{ Image(post.thumbnail).src }}');">
					{% else %}
						<div class="page-banner" style="background-image: url('/wp-content/uploads/2018/07/banner-shortlist.jpg');">
					{% endif%}
						<div class="page-banner-overlay" style="opacity: {{ post.background_opacity }}%;"></div>
						<div class="title-wrapper">
							<h1>{{ post.title }}</h1>
						</div>
					</div>
				</div>
			</div>
			{% if post.thumbnail.post_content %}
				<div class="image-credit">{{ post.thumbnail.post_content }}</div>
			{% elseif Image(post.thumbnail).caption %}
				<div class="image-credit">{{ Image(post.thumbnail).caption }}</div>
			{% endif %}
		</div>
	</div>
</div>
