<div class="before-content-spacer" data-spy="affix" data-offset-top="520"></div>
<div class="building-before-content before-content" data-spy="affix" data-offset-top="520">
	<div class="container">
		<div class="section-wrapper">
			<div class="building-address">{{ post.address }}</div>
			<div class="building-schedule">
				{% if post.get_field('saturday_opening_hours').from|length %}
					Saturday : {{ post.get_field('saturday_opening_hours').from }} to {{ post.get_field('saturday_opening_hours').to }}
					{% if post.get_field('sunday_13th_2019_opening_hours').from|length %}
						{{ '<br>' }}
					{% endif %}
				{% endif %}
				{% if post.get_field('sunday_13th_2019_opening_hours').from|length %}
					Sunday : {{ post.get_field('sunday_13th_2019_opening_hours').from }} to {{ post.get_field('sunday_13th_2019_opening_hours').to }}
				{% endif %}
				<br>
				{{ post.type_of_accesstours }}
				{{ (post.get_field('other_access') and post.type_of_accesstours|trim|lower != post.get_field('other_access')|trim|lower ) ? ' // ' ~ post.get_field('other_access') : '' }}
			</div>
			<div class="building-buttons">
				<div class="wishlist">
					<button class="simplefavorite-button" data-postid="{{post.id}}" data-siteid="1" data-groupid="1" data-favoritecount="{{ post.favorite_count }}" data-posttitle="{{ post.post_title }}" >Favourite</button>
				</div>
				{{ post|building_get_button }}
			</div>
		</div>
	</div>
</div>
<div class="building-content">
	<div class="container">
		<div class="section-wrapper">
			<div class="row">
				<div class="col-md-8 post-body-wrapper">
					<div class="post-body showless">
						{{ post.content }}

						<div class="how-to-book">
							<h3>Tour Information</h3>

								{% if post.get_field('sat_times_or_frequency_of_guided_tours') %}
									<p>
										<strong>Frequency of Guided Tours</strong>:
										{{ post.get_field('sat_times_or_frequency_of_guided_tours') }}
									</p>
								{% endif %}

								{%
									if post.get_field('if_the_building_will_be_open_both_saturday_12_and_sunday_13_will_the_guided_tours_be_available_both_days')|lower|trim == 'no'
									and post.get_field('if_no_please_let_us_know_what_the_differences_will_be')
								%}
									<strong>Difference in guided tours for Saturday and Sunday</strong>:
									{{ post.get_field('if_no_please_let_us_know_what_the_differences_will_be')|wpautop }}
								{% endif %}
						</div>

						{% if post.get_field('tour_tips')|length or post.get_field('tour_tips_other') %}
							<div class="tour-tips">
								<h3>Tour Tips</h3>
								<p>
									{{ post.get_field('tour_tips')|join(', ') }}{{ (post.get_field('tour_tips')|length and post.get_field('tour_tips_other')) ? ', ' : '' }}{{ (post.get_field('tour_tips_other')) ? post.get_field('tour_tips_other') : '' }}
								</p>
							</div>
						{% endif %}

						{% if
							post.get_field('will_there_be_any_additional_activities_on_offer_over_the_weekend')|length
							or post.get_field('other_additional_activities')
						%}
							<div class="additional-activities">
								<h3>Additional Activities</h3>
								<p>
									{% set additionalActivities = post.get_field('what_additional_activities') %}
									{% set additionalActivitiesFiltered = [] %}
									{% for act in additionalActivities %}
										{% if act|trim|lower == 'childrens activities' %}
												{% set act = "Children's Activities" %}
										{% endif %}
										{% set additionalActivitiesFiltered = additionalActivitiesFiltered|merge([act]) %}
									{% endfor %}
									{{ additionalActivitiesFiltered|join(', ') }}{{ ( post.get_field('what_additional_activities')|length and post.get_field('other_additional_activities') ) ? ', ' : '' }}{{ (post.get_field('other_additional_activities')) ? post.get_field('other_additional_activities') : '' }}
								</p>
							</div>
						{% endif %}

						{% if post.get_field('are_there_any_dress_requirements')|length %}
							<div class="additional-activities">
								<h3>Dress Requirements</h3>
								<p>
									{{ post.get_field('are_there_any_dress_requirements')|join(', ') }}
								</p>
							</div>
						{% endif %}

						{% if post.get_field('wheelchair_access') %}
							<div>
								<h3>Wheelchair access</h3>
								<p>
									{{ post.get_field('wheelchair_access') }}
								</p>
							</div>
						{% endif %}

						{% if post.get_field('heritage_listed_building') == 1 %}
							<div>
								<h3>Is Heritage listed</h3>
								<p>Yes</p>
							</div>
						{% endif %}

						{%
							if post.get_field('architectural_awards_or_accreditations')
							or post.get_field('list_any_environmental_accreditation_eg_green_star')
						%}
						<div class="accreditations">
							<h3>Awards</h3>
							{% if post.get_field('architectural_awards_or_accreditations') %}
								<p>
									<strong>Recent Architectural or Engineering Awards</strong>:
									{{ post.get_field('architectural_awards_or_accreditations') }}
								</p>
							{% endif %}
							{% if post.get_field('list_any_environmental_accreditation_eg_green_star') %}
								<p>
									<strong>Environment Accreditation</strong>:
									{{ post.get_field('list_any_environmental_accreditation_eg_green_star') }}
								</p>
							{% endif %}
						</div>
						{% endif %}

					</div>
					<div class="button-read-more" target-data="post-body"><button>Read More</button></div>
					<div class="building-buttons">
						{% if post.volunteer_for_this_building %}<div class="volunteer"><button><a href="{{ post.volunteer_for_this_building }}" target="_blank">Volunteer for this Building</a></button></div>{% endif %}
						{#
						<div class="wishlist"><button class="simplefavorite-button" data-postid="{{post.id}}" data-siteid="1" data-groupid="1" data-favoritecount="{{ post.favorite_count }}" >Favourite</button></div>
						<div class="building-ticket-type {{ post.building_ticket_type[0].slug }}"><button><a href="{{post.eventbrite_link}}" target="_blank">{{ post.building_ticket_type[0].name }}</a></button></div>
						#}
					</div>
				</div>
				<div class="col-md-4">
					<div class="buildings-map-wrapper">
						<div class="map-iframe-wrapper">
							<iframe
								width="600"
								height="450"
								style="border:0"
								loading="lazy"
								allowfullscreen
								referrerpolicy="no-referrer-when-downgrade"
								src="https://www.google.com/maps/embed/v1/place?key={{ google_maps_api_key }}
									&q={{ post.google_map['address'] }}">
							</iframe>
						</div>
					</div>

					{% if post.building_architect or post.get_field('building_architect_additional') %}
						<div class="location-addision">
							{{post.building_architect}}
							{{ (post.get_field('building_architect_additional')) ? '<br>' ~ post.get_field('building_architect_additional') : '' }}
						</div>
					{% endif %}

					{% if post.year_built%}
						<div class="location-history">{{post.year_built}}</div>
					{% endif %}

					<div class="location-directions">
						<a href="https://www.google.com/maps?saddr=My+Location&daddr={{post.google_map['lat']}},{{post.google_map['lng']}}" target="_blank">Get Directions</a>
					</div>

					{% if post.building_website%}
						<div class="location-website"><a href="{{post.building_website}}" target="_blank">Visit Website</a></div>
					{% endif %}

					{% set event_links = post.get_field('eventbrite_links') %}
					{% if event_links %}
						<div class="eventbrite-links">
							{% for item in event_links %}
							  <a class="btn btn-primary" href="{{ item.link.url }}" title="{{ item.link.title }}" target="{{ item.link.target }}">{{ item.link.title ? item.link.title : 'Book now' }}</a>
								<div class="w-100"></div>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
