<div class="section current_winners">
	<div class="container">
		<div class="section-title">
			<h2>2018 Competition Winners</h2>
		</div>
	</div>
	<div class="current-winners-wrapper">
		{% set numWinners = current_winners|length %}
		{% for winner in current_winners%}
			<div class="col-1-5 col-1-{{numWinners}}">
				{#% for winner in current_winner %#}
				<div class="winner-wrapper {{ winner.winner_year[0].slug }}" data-modal="competition_winner_modal" data-modal-data='{"year":"2018","type":"{{ winner.winner_type[0].slug }}","photo":"{{ winner.slug }}"}'>
					<div class="winner-thumbnail" {% if Image(winner.thumbnail).src %}style="background-image:url({{ winner.thumbnail.src('building-tile-image') }});"{% endif %}></div>
					<div class="entry-type">{{ winner.winner_type[0].name }}</div>
					<div class="entry-content">
						<div class="entry-author">{{ winner.title }}</div>
						<div class="entry-location">{{ winner.entry_location }}</div>
					</div>
				</div>
				{#% endfor %#}
			</div>
		{% endfor %}
	</div>
</div>