{% set paid_event_information = post.get_field('paid_event_information') %}
{% set tour_tips = post.get_field('tour_tips') %}
{% set additional_activities = post.get_field('additional_activities') %}
{% set accreditations = post.get_field('accreditations') %}
<div class="before-content-spacer" data-spy="affix" data-offset-top="520"></div>
<div class="event-before-content before-content" data-spy="affix" data-offset-top="520">
	<div class="container">
		<div class="section-wrapper">
			<div class="event-type">{{ post.event_type[0].name }}</div> 
			{% if post.event_date %}<div class="event-date">{{ post.event_date }}</div>	{% endif %}	
			{% if post.event_time %}<div class="event-time">{{ post.event_time }}</div>	{% endif %}	
			{% if post.venue or post.venue_address %}<div class="event-venue">{% if post.venue_address %}<a 
				href="https://www.google.com/maps/place/{{post.venue_address|url_encode}}" target="_blank">{% endif %}{{ post.venue }}{% if post.venue %}<br>{% endif %}{{ post.venue_address }}{% if post.venue_address %}</a>{% endif %}
			</div> {% endif %}
			
			{% if post.event_ticket_type[0].slug is not empty and post.event_ticket_type[0].slug != "booked-out" %}
				<div class="event-booking {{post.event_ticket_type[0].slug}}">
					{% if post.event_ticket_type[0].slug == 'no-booking-required' %}
						Free Event
					{% elseif paid_event_information != '' %}
						{{paid_event_information}}
					{% else %}
						{{post.event_ticket_type[0].name}}
					{% endif %}
				</div>
			{% endif %}
			
			{% if post.event_ticket_type[0].slug is not empty and post.event_ticket_type[0].slug != 'no-booking-required' %}	
			<div class="event-buttons">
				<div class="event-ticket-type {{ post.event_ticket_type[0].slug }}"><a href="{{ post.booking_link }}" target="_blank">{{ post.event_ticket_type[0].name }}</a></div>
			</div>
			{% else %}
			<div class="event-ticket-type no-booking-required">{{ post.event_ticket_type[0].name }}</div>
			{% endif %}
		</div>
	</div>
</div>
<div class="building-content">
	<div class="container">
		<div class="section-wrapper">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8 post-body-wrapper">
					<div class="post-body">
						{{ post.content }}
						{#
						{% if paid_event_information %}
							<div class="booking-information">
								<h3>BOOKING INFORMATION</h3>
								{{paid_event_information}}
							</div>
						{% endif %}
						#}
						{% if tour_tips %}
							<div class="tour-tips">
								<h3>TOUR TIPS</h3>
								<ul>{% for tour_tip in tour_tips %}<li>{{ tour_tip.tour_tip }}</li>{% endfor %}</ul>
							</div>
						{% endif %}
						{% if additional_activities %}
							<div class="additional-activities">
								<h3>Additional Activities</h3>
								<ul>{% for additional_activity in additional_activities %}<li>{{ additional_activity.additional_activity }}</li>{% endfor %}</ul>
							</div>
						{% endif %}
						{% if accreditations %}
							<div class="accreditations">
								<h3>Accreditations</h3>
								<ul>{% for accreditation in accreditations %}<li>{{ accreditation.accreditation }}</li>{% endfor %}</ul>
							</div>
						{% endif %}						
					</div>
					{#
					<div class="building-buttons">
						<div class="building-ticket-type {{ post.event_ticket_type[0].slug }}"><button><a href="{{ post.booking_link }}" target="_blank">{{ post.event_ticket_type[0].name }}</a></button></div>
					</div>
					#}
				</div>					
			</div>
			
			{% if event_collection %}
			<div class="row explore-events" data-related-events="{{ post.event_type[0].slug }}" data-post-id="{{ post.id }}">
				<div class="col-md-12">	
					<div class="section-title">
						<h2>Explore {{ post.event_type[0].name }}</h2>
					</div>
					<div class="explore-events-result">
						{% include 'json/event-tile.twig' %}
					</div>
				</div>
			</div>
			{% endif %}
			
		</div>
	</div>
</div>