{% set news = post.get_field('news_items') %}
{% if news %}
<div class="section">
	<div class="news">
		<div class="container">
			<div class="news-wrapper">
				<div class="news-section-title"><div class="wrapper"><h2 class="title">NEWS &amp; WHAT’S ON</h2></div></div>
				<div class="news-tiles">
					{% for event in news %}
					{% if event.post_type == 'event' %}
						{% set event_ticket_type = event.terms('event_ticket_type') %}
						{% set event_type = event.terms('event_type') %}
						<div class="event-tile {{event.event_type[0].slug}}">
							<div class="image-wrapper">
								<a href="{{event.path}}">
									<div class="image" {% if Image(event.images[0]).src %}style="background-image:url('{{Image(event.images[0]).src('building-tile-image')}}');"{% endif %}></div>
								</a>
								{# event.image.sizes['thumbnail'].file #}

								{% if event_ticket_type[0].slug is not empty and event_ticket_type[0].slug != "no-booking-required" %}
									<div class="event-ticket {{ event_ticket_type[0].slug }}">{{event_ticket_type[0].name}}</div>
								{% endif %}
							</div>
							<div class="event-content">
								<div class="event-type">{{event_type[0].name}}</div>
								<h3 class="event-title"><a href="{{event.path}}">{{event.title}}</a></h3>
								{# <p class="event-body">{{event.post_content |length > 100 ? event.post_content|slice(0, 100) ~ '...' : event.post_content}}</p> #}
								{% if event.event_date %}
									<div class="event-date">{{event.event_date}}</div>
								{% endif %}
								{% if event.event_time %}
									<div class="event-time">{{event.event_time}}</div>
								{% endif %}
								{% if event.venue %}
									<div class="event-location">{{event.venue}}</div>
								{% endif %}
								{% if event_ticket_type[0].slug is not empty and event_ticket_type[0].slug != "booked-out" %}
									<div class="event-booking">
										{% if event_ticket_type[0].slug == 'no-booking-required' %}
											Free Event
										{% elseif event_ticket_type[0].slug == 'book-ticket' and paid_event_information != '' %}
											{{paid_event_information}}
										{% else %}
											{{event_ticket_type[0].name}}
										{% endif %}
									</div>
								{% endif %}
								
								<div class="links-wrapper">
								<div class="readmore-wrapper"><a href="{{event.path}}">Read More</a></div>
								{% if event.event_ticket_type[0].slug is not empty and event.event_ticket_type[0].slug != "booked-out" %}
									<div class="event-ticket {{ event.event_ticket_type[0].slug }}"><span><a href="https://{{ event.booking_link | replace({'https://':''}) }}" target="_blank">{{event.event_ticket_type[0].name}}</a></span></div>
								{% endif %}
								</div>
							</div>
						</div>
					{% endif %}
					{% if event.post_type == 'building' %}
						{% set building_ticket_type = event.terms('building_ticket_type') %}
						{% set building_precinct = event.terms('building_precinct') %}
						{% set building_type = event.terms('building_type') %}
						{% set opened_days = '' %}

						{% if 'both_days' == event.get_field('what_days_will_you_be_open_for_boh') %}
							{% set opened_days = 'saturday sunday' %}
						{% else %}
							{% set opened_days = event.get_field('what_days_will_you_be_open_for_boh') %}
						{% endif %}

						<div class="building-tile {{building_precinct[0].slug}} {{building_type[0].slug}} {{ opened_days }}">
							<div class="image-wrapper">
								<a href="{{event.path}}">
									<div class="image" {% if Image(event.images[0]).src %}style="background-image:url('{{Image(event.images[0]).src('building-tile-image')}}');"{% endif %}></div>
								</a>
								{% if building_ticket_type[0].slug is not empty and building_ticket_type[0].slug != "no-booking-required" %}
									<div class="building-ticket {{ building_ticket_type[0].slug }}">{{building_ticket_type[0].name}}</div>
								{% endif %}
								{#
								{% if event.newrepeat == "New" %}
									<div class="building-new">{{ event.newrepeat }}!</div>
								{% endif %}
								#}
							</div>
							<div class="building-content">
								<div class="building-precinct">{{ building_precinct[0].name }}</div>
								{#<div class="building_id">{{ "%02d"|format(event.building_no) }}</div>#}
								<h3 class="building-title"><a href="{{event.path}}"><span class="building-number">{{ "%02d"|format(event.building_no) }}</span> {{event.title}}</a></h3>
								<div class="wishlist">
									<button class="simplefavorite-button" data-posttitle="{{ event.post_title }}" data-postid="{{event.id}}" data-siteid="1" data-groupid="1" data-favoritecount="{{ event.favorite_count }}" ></button>
									<span>Favourite</span>
								</div>
								<div class="building-meta">
									<div class="building-schedule">
										{% if event.saturday_13 %}Saturday // {{ event.sat_opening_time }} to {{ event.sat_closing_time }}<br/>{% endif%}
										{% if event.sunday_14 %}Sunday // {{ event.sun_opening_time }} to {{ event.sun_closing_time }}{% endif%}
									</div>
									{% if event.type_of_accesstours %}
									<div class="building-tours">
										{{ event.type_of_accesstours }}
									</div>
									{% endif %}
								</div>
								{#
								<div class="building-schedule">
									{% if event.saturday_13 %}Saturday // {{ event.sat_opening_time |date('h:ia') }} to {{ event.sat_closing_time|date('h:ia') }}<br/>{% endif%}{% if event.sunday_14 %}Sunday // {{ event.sun_opening_time |date('h:ia') }} to {{ event.sun_closing_time|date('h:ia') }}<br/>{% endif%}{{ event.type_of_accesstours }}
								</div>	
								#}
								<div class="links-wrapper">
									<div class="readmore-wrapper"><a href="{{event.path}}">View Details</a></div>
									{% if building_ticket_type[0].slug is not empty and building_ticket_type[0].slug != "booked-out" %}
										{% if building_ticket_type[0].slug == "no-booking-required" %}
										<div class="building-ticket {{ event.building_ticket_type[0].slug }}"><span>{{building_ticket_type[0].name}}</span></div>
										{% else %}
										<a href="{{ eventbrite_link }}" target="_blank" class="building-ticket {{ building_ticket_type[0].slug }}"><span>{{building_ticket_type[0].name}}</span></a>
										{% endif %}	
									{% endif %}
								</div>
							</div>
						</div>
					{% endif %}
					{% if event.post_type == 'post' %}
						{% set category = event.terms('category') %}
						<div class="event-tile {{category[0].slug}}">
							<div class="image-wrapper">
								<a href="{{event.path}}">
									<div class="image" {% if Image(event.thumbnail).src %}style="background-image:url('{{Image(event.thumbnail).src('building-tile-image')}}');"{% endif %}></div>
								</a>
								{# event.image.sizes['thumbnail'].file #}
							</div>
							<div class="event-content">
								<div class="event-type">{{category[0].name}}</div>
								<h3 class="event-title"><a href="{{event.path}}">{{event.title}}</a></h3>
								<p class="event-body">{{event.post_content|striptags|length > 100 ? event.post_content|striptags|slice(0, 100) ~ '...' : event.post_content|striptags}}</p>
								<div class="links-wrapper">
									<div class="readmore-wrapper"><a href="{{event.path}}">Read More</a></div>
								</div>
							</div>
						</div>
					{% endif %}
					{% endfor %}
				</div>					
			</div>	
		</div>
	</div>
</div>
{% endif %}
