<div class="container">
	<div class="header-left">
		<a href="{{ site.url }}"><img src="{{assets}}/images/header-logo.svg" alt="{{ site.name }}"></a>
	</div>

	<div class="menu-toggle"></div>

	<div class="header-right">
		<div class="menu-close"><i class="icon-cross"></i></div>
		<nav>
			{% for item in header_nav.get_items %}
				{% set item_classes = '' %}
			    {% if item.current %}
			    	{% set item_classes = 'active' %}
			    {% endif %}
				<li class="{{ item_classes }} {{ item.class }}">
					<a class="{{item.classes | join(' ')}}" href="{{item.get_link}}">{{item.title}}</a>
					 {% if item.get_children %}
					 	<div class="mobile-expander"></div>
		                <ul class="menu">
		                    {% for child in item.get_children %}
		                        <li class="{{ child.class }}"><a href="{{ child.link }}">{{ child.title }}</a></li>
		                    {% endfor %}
		                </ul>
		            {% endif %}
				</li>
			{% endfor %}
			{% if user_favorites_count != '0' %}<span class="user-favourite-count">{{ user_favorites_count }}</span> {% endif %}
		</nav>
		<div class="social-media-icons">
			{% for social_media in site_options['social_media'] %}
			<a href="{{ social_media.link }}" target="_blank">
				{% if social_media.acf_fc_layout == 'facebook' %}
					<i class="fa fa-facebook"></i>
				{% elseif social_media.acf_fc_layout == 'twitter' %}
					<i class="fa fa-twitter"></i>
				{% elseif social_media.acf_fc_layout == 'instagram' %}
					<i class="fa fa-instagram"></i>
				{% endif %}
			</a>
			{% endfor %}
			<div class="mobile-search-wrapper">
				<div class="search-form-wrapper">
					{{ function('get_search_form') }}
					<div class="search-toggle"></div>
				</div>
			</div>
		</div>


	</div>

</div>
