<div class="section">
	<div class="news-and-media">
		<div class="container">
			<div class="events-wrapper">
				<div class="before-content-spacer" data-spy="affix" data-offset-top="420"></div>
				<div class="news-filters before-content" data-spy="affix" data-offset-top="420">
					<ul>
						<li class="all active" data-type="all">All</li>
						{% for news_filter in news_media_types %}
						<li class="{{news_filter.slug}}" data-type="{{news_filter.slug}}">{{news_filter.name}}</li>
						{% endfor %}
					</ul>
				</div>
				
				{#
				<div class="news-tiles">
					
					{% for post in news_medias %}
						<div class="news-tile {{post.category[0].slug}}">
							<div class="image-wrapper">
								<a href="{{post.path}}">
									<div class="image" {% if Image(post.thumbnail).src %}style="background-image:url('{{Image(post.thumbnail).src}}');"{% endif %}></div>
								</a>
							</div>
							<div class="news-content">
								<div class="news-type">{{post.category[0].name}}</div>
								<h3 class="news-title"><a href="{{post.path}}">{{post.title}}</a></h3>
								<p class="news-body">{{post.post_content|length > 100 ? post.post_content|slice(0, 100) ~ '...' : post.post_content }}</p>
								<div class="links-wrapper">
									<div class="readmore-wrapper"><a href="{{post.path}}">Read More</a></div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				#}
				
				<div class="news-tiles load-result"></div>
				<div class="load-more">
					<span>Load More</span>
				</div>
				
			</div>	
		</div>
	</div>
</div>