<div class="section prev_winners"><a name="competition-previous-winners" id="competition-previous-winners"></a>
	<div class="container">
		<div class="section-title">
			<h2>Previous Winners</h2>
		</div>
		<div class="prev-winners-filter">
			<ul>
				{% for winner_year in winner_years%}
				<li data-year="{{ winner_year.slug }}">{{ winner_year.name }}</li>
				{% endfor %}
			</ul>
		</div>	
		
		{% for prev_winner in prev_winners%}
			<div class="row year-{{ prev_winner[0].winner_year[0].slug }}">
				{% for winner in prev_winner %}
				<div class="col-1-5 col">
					<div class="winner-wrapper {{ winner.winner_year[0].slug }}" data-modal="competition_winner_modal" data-modal-data='{"year":"{{ winner.winner_year[0].slug }}","type":"{{ winner.winner_type[0].slug }}","photo":"{{ winner.slug }}"}'>
						<div class="winner-thumbnail" {% if Image(winner.thumbnail).src %}style="background-image:url({{ winner.thumbnail.src('building-tile-image') }})"{% endif %}></div>
						<div class="entry-content">
							<div class="entry-type">{{ winner.winner_type[0].name }}</div>
							<div class="entry-author">{{ winner.title }}</div>
							<div class="entry-location">{{ winner.entry_location }}</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		{% endfor %}
		
	</div>
</div>