<div class="section promotion-block clearfix">
	<div class="container">
		<div class="section-wrapper">
			<div class="row">
				<div class="col-md-6">
					<div class="promotion-text">
						<h3 class="promotion-title">{{ content.title }}</h3>
						<p class="promotion-title">{{ content.content }}</p>
						<a class="promotion-button" href="{{ content.button_link }}">{{ content.button_text }}</a>
					</div> 
				</div>
			</div>
		</div>
	</div>
	{% if content.image %}
		<div class="promotion-image-wrapper" style="background-image: url('{{ Image(content.image).src }}');"></div>
	{% else %}
		<div class="promotion-image-wrapper" style="background-image: url('{{assets}}/images/no-image.png');"></div>
	{% endif %}
	{% if content.image_credit %}
		<div class="image-credit">Image Credit: {{ content.image_credit }}</div>
	{% elseif Image(content.image).caption %}
		<div class="image-credit">{{ Image(content.image).caption }}</div>
	{% endif %}
</div>