<div class="section section-shortlist">
	<div class="container">

		{% if shortlist is empty%}
			<div class="empty">
				<h3><span>Your Favourites is empty</span></h3>
				<a href="/buildings">View Buildings</a>
			</div>

		{% else %}
			{% for building in shortlist|sort %}
				<div class="building">
					<div class="row ">
						<div class="col-sm-3 col-xs-12">
							<a href="{{building.path}}">
								{#<div class="image" {% if Image(building.images[0]).src %}style="background-image:url('{{Image(building.images[0]).src}}');"{% endif %}></div>#}
								{# 2019 Image #}
								{% set buildingImg = building.get_field('field_5cac834f2a1d0')[0].image %}
								<div class="image" {% if Image(buildingImg).src %}style="background-image:url('{{Image(buildingImg).src}}');"{% endif %}></div>
							</a>
						</div>
						<div class="col-sm-6">
							<div class="building_id">{{building.building_no}}</div>
							<div class="building-content-wrapper">
								<div class="building-title"><a href="{{building.path}}">{{building.title}}</a></div>
								<div class="building-address">{{ building.address }}</div>
								<div class="building-schedule">
									{% if building.get_field('saturday_opening_hours').from|length %}
										Saturday : {{ building.get_field('saturday_opening_hours').from }} to {{ building.get_field('saturday_opening_hours').to }}
										{% if building.get_field('sunday_13th_2019_opening_hours').from|length %}
											{{ '<br>' }}
										{% endif %}
									{% endif %}
									{% if building.get_field('sunday_13th_2019_opening_hours').from|length %}
										Sunday : {{ building.get_field('sunday_13th_2019_opening_hours').from }} to {{ building.get_field('sunday_13th_2019_opening_hours').to }}
									{% endif %}
									<br>
									{{ building.type_of_accesstours }}
									{{ (building.get_field('other_access') and building.type_of_accesstours|trim|lower != building.get_field('other_access')|trim|lower ) ? ' // ' ~ building.get_field('other_access') : '' }}
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							{{ building|building_get_button }}
							<div class="wistlist">
								<button class="simplefavorite-button" data-posttitle="{{ building.post_title }}" data-postid="{{building.id}}" data-siteid="1" data-groupid="1" data-favoritecount="{{ building.favorite_count }}" ></button>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
