{% extends 'layouts/base.twig' %}

{% block banner %}

<div class="banner banner-narrow banner-right" >
	<div class="banner-container" >
		<div class="banner-inner" >
			<div class="banner-content banner-content-middle" >
				<div class="homepage-slider-wrapper slider">
				{% set slides = post.get_field('slide') %}
				{% for slide in slides %}
					<div class="slide-wrapper" style="background-image: url({{ slide.background_image.url }});">
						<div class="slide-overlay" style="opacity: {{ slide.background_opacity }}%;"></div>
						<div class="slide-content-wrapper">
							<h1 class="main-heading">{{ slide.main_heading }}</h1>
							<h2 class="sub-heading">{{ slide.sub_heading }}</h2>

							{% if slide.call_to_action_label %}
								<a
									href="{{ slide.call_to_action_url }}"
									{% if slide.open_call_to_action_in_new_tab %}target="_blank"{% endif %}
									class="btn btn-primary"
								>
									{{ slide.call_to_action_label }}
								</a>
							{% endif %}
						</div>
						{% if slide.background_image.description %}
							<div class="image-credit">{{ slide.background_image.description }}	</div>
						{% endif %}
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}
	<div class="front-page-content-wrapper watermark">

		{% include 'partials/front-news.twig' %}

		{% set contents = post.get_field('content') %}
		{% for content in contents %}
			{% if content.acf_fc_layout == "events" %}
				{% include 'partials/events.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "buildings" %}
				{% include 'partials/buildings.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "faqs" %}
				{% include 'partials/faqs.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "form" %}
				{% include 'partials/form.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "two_narrow_columns" %}
				{% include 'partials/two-narrow-columns.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "sponsors" %}
				{% include 'partials/sponsors.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "narrow_text" %}
				<div class="container padding-bottom">
					<div class="row">
						<div class="col-sm-offset-2 col-sm-8">
							{{ content.body }}
						</div>
					</div>
				</div>
			{% endif %}
			{% if content.acf_fc_layout == "user_shortlist" %}
				{% include 'partials/user_shortlist.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "user_login_form" %}
				{% include 'partials/login-form.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "instagram_feed" %}
				{% include 'partials/instagram_feed.twig' %}
			{% endif %}
		{% endfor %}
	</div>

{% endblock %}

{% block prefooter %}
{% include 'partials/front-sponsors.twig' %}
{% endblock %}
