{% extends 'layouts/base.twig' %}

{% block content %}
<div class="page-content-wrapper search-results-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-8">
				<h1>{{ title }}</h1>
					{% if posts %}
						{% for post in posts %}
							<a href="{{ post.link }}" class="search-result">
								<h4>
								{{ post.title }}
								<span class="type">// {% if post.post_type == 'post' and post.terms('category') %}{{ post.terms('category')[0] }}{% else %}{{ post.post_type }}{% endif %}</span>
								</h4>
								<p>{{ post.post_content |length > 100 ? post.post_content|slice(0, 100) ~ '...' : post.post_content }}</p>
							</a>
						{% endfor %}
					{% else %}
						<div href="{{ post.link }}" class="search-result">
							<div class="list-item-title">No results found</div>
						</div>
					{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}