<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ site.charset }}" />
        <title>{{ wp_title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="{{assets}}/images/favicon.png" sizes="128x128" />
		<link rel="icon" type="image/png" href="{{assets}}/images/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{assets}}/images/favicon-16x16.png" sizes="16x16" />

        {% block styles %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.typekit.net/scn7kzb.css">

            {{ wp_head }}

            {# {{ 'vendor.min.css' | css_tag }} #}
            {# {{ 'app.min.css' | css_tag }} #}

			<script async src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>
        {% endblock %}
    </head>
    <body class="{{ body_class }}">
        <header class="header" >
            {% include 'partials/menu.twig' %}
        </header>
        {% block banner %}{% endblock %}

        {% block content %}
        {% endblock %}

        {% include 'partials/newsletter.twig' %}
		{% block prefooter %}{% endblock %}
		{% include 'partials/footer.twig' %}
		{% include 'partials/modal.twig' %}

        {% block javascripts %}
            {{ wp_footer }}
           {{ 'openHouseGlobal' | js_global }}
           {#  {{ 'app.min.js' | js_tag }} #}
            <script type='text/javascript'>
                (function (d, t) {
                    var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
                    bh.type = 'text/javascript';
                    bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=mvcfaiolwbxyaf5bxyn6ja';
                    s.parentNode.insertBefore(bh, s);
                })(document, 'script');
            </script>
        {% endblock %}
    </body>

</html>
