{% for post in news_collection %}
	<div class="news-tile {{post.category[0].slug}}">
		<div class="image-wrapper">
			<a href="{{post.path}}">
				<div class="image" {% if Image(post.thumbnail).src %}style="background-image:url('{{Image(post.thumbnail).src('tile-image')}}');"{% endif %}></div>
			</a>
		</div>
		<div class="news-content">
			<div class="news-type">{{post.category[0].name}}</div>
			<h3 class="news-title"><a href="{{post.path}}">{{post.title}}</a></h3>
			<p class="news-body">{{post.post_content|striptags|length > 100 ? post.post_content|striptags|slice(0, 100) ~ '...' : post.post_content }}</p>
			<div class="links-wrapper">
			<div class="readmore-wrapper"><a href="{{post.path}}">Read More</a></div>
			</div>
		</div>
	</div>
{% endfor %}