<div class="section">
	<div class="buildings">
			<div class="before-content-spacer" data-spy="affix" data-offset-top="450"></div>
			<div class="buildings-filter before-content" data-spy="affix" data-offset-top="450">
				<div class="container">	
					<div class="day-filters">
						<ul class="date-toggle">
							<li><div data-date="all" class="day-filter active"><div class="day">Both Days</div></div></li>
							<li><div data-date="saturday" class="day-filter"><div class="day">SAT 12 October</div></div></li>
							<li><div data-date="sunday" class="day-filter"><div class="day">Sun 13 October</div></div></li>
						</ul>
					</div>
					<select class="building-precinct selectpicker">
						<option value="all" selected="selected">All Precincts</option>
						{% for building_precinct in building_precincts %}
							<option value="{{building_precinct.slug}}">{{building_precinct.name}}</option>
						{% endfor %}
					</select>
					<select class="building-types selectpicker">
						<option value="all" selected="selected">All Building Types</option>
						{% for building_type in building_types %}
							<option value="{{building_type.slug}}">{{building_type.name}}</option>
						{% endfor %}
					</select>
					<div class="filter-buttons">
						<button class="active button-list">List</button>
						<button class="button-map">Map</button>
					</div>
				</div>
			</div>	
		<div class="container">	
			<div class="buildings-map-wrapper">
				<div data-google-map class="map" >					
					{% for building in buildings %}
						<div class="marker" data-lat="{{ building.google_map['lat'] }}" data-lng="{{ building.google_map['lng'] }}" precinct="{{building.building_precinct[0].slug}}" building-type="{{building.building_type[0].slug}}" label="{{ '%02d'|format(building.building_no) }}" saturday="{% if building.saturday_13 %}true{% else %}false{% endif %}" sunday="{% if building.sunday_14 %}true{% else %}false{% endif %}">
							<div class="image-wrapper">
								<a href="{{building.path}}">
									{% set buildingImg = building.get_field('field_5cac834f2a1d0')[0].image %}
									<div class="image" {% if Image(buildingImg).src %}style="background-image:url('{{Image(buildingImg).src('building-tile-image')}}');"{% endif %}></div>
								</a>
								{% if building.building_ticket_type[0].slug is not empty and building.building_ticket_type[0].slug != "no-booking-required" %}
									<div class="building-ticket {{ building.building_ticket_type[0].slug }}">{{building.building_ticket_type[0].name}}</div>
								{% endif %}
							</div>
							<div class="building-content">
								<div class="building_id">{{ "%02d"|format(building.building_no) }}</div>
								<h3 class="building-title"><a href="{{building.path}}">{{building.title}}</a></h3>
								<div class="wishlist">
									<button class="simplefavorite-button" data-postid="{{building.id}}" data-siteid="1" data-groupid="1" data-favoritecount="{{ building.favorite_count }}" data-posttitle="{{building.post_title}}" >Favorite <i class="sf-icon-star-empty"></i></button>
									<span>Favourites</span>
								</div>
								<div class="building-meta">
									<div class="building-schedule">
										{% if building.get_field('saturday_opening_hours').from|length %}
											Saturday : {{ building.get_field('saturday_opening_hours').from }} to {{ building.get_field('saturday_opening_hours').to }}
											{% if building.get_field('sunday_13th_2019_opening_hours').from|length %}
												{{ '<br>' }}
											{% endif %}
										{% endif %}
										{% if building.get_field('sunday_13th_2019_opening_hours').from|length %}
											Sunday : {{ building.get_field('sunday_13th_2019_opening_hours').from }} to {{ building.get_field('sunday_13th_2019_opening_hours').to }}
										{% endif %}
									</div>
									{% if building.type_of_accesstours or building.get_field('other_access') %}
										<div class="building-tours">
											{{ building.type_of_accesstours }}
											{{ (building.get_field('other_access') and building.type_of_accesstours|trim|lower != building.get_field('other_access')|trim|lower ) ? ' // ' ~ building.get_field('other_access') : '' }}
										</div>
									{% endif %}
								</div>
								<div class="links-wrapper">
									<div class="readmore-wrapper"><a href="{{building.path}}">View Details</a></div>
									{% if building.building_ticket_type[0].slug is not empty and building.building_ticket_type[0].slug != "booked-out" %}
										{% if building.building_ticket_type[0].slug == "no-booking-required" %}
										<div class="building-ticket {{ building.building_ticket_type[0].slug }}"><span>{{building.building_ticket_type[0].name}}</span></div>
										{% else %}
										<a href="{{ building.eventbrite_link }}" target="_blank" class="building-ticket {{ building.building_ticket_type[0].slug }}"><span>{{building.building_ticket_type[0].name}}</span></a>
										{% endif %}	
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="buildings-wrapper">
				{% for building_precinct in building_precincts %}
					<div class="building_precinct {{building_precinct.slug}}">
						<div class="building_precinct_title">{{building_precinct.name}}</div>
						<div class="building-tiles"></div>
					</div>
				{% endfor %}
				<div class="building-pool">
					{% for building in buildings %}

						{% set opened_days = '' %}
						{% if 'both_days' == building.get_field('what_days_will_you_be_open_for_boh') %}
							{% set opened_days = 'saturday sunday' %}
						{% else %}
							{% set opened_days = building.get_field('what_days_will_you_be_open_for_boh') %}
						{% endif %}

						<div class="building-tile {{building.building_precinct[0].slug}} {% for type in building.building_type %}{{type.slug}} {% endfor %} {{ opened_days }}">
							<div class="image-wrapper">
								<a href="{{building.path}}">
									{% set buildingImg = building.get_field('field_5cac834f2a1d0')[0].image %}
									<div class="image" {% if Image(buildingImg).src %}style="background-image:url('{{ Image(buildingImg).src('building-tile-image') }}');"{% endif %}></div>
								</a>
								{% if building.building_ticket_type[0].slug is not empty and building.building_ticket_type[0].slug != "no-booking-required" %}
									<div class="building-ticket {{ building.building_ticket_type[0].slug }}">{{building.building_ticket_type[0].name}}</div>
								{% endif %}
								{% if building.newrepeat == "New" %}
									<div class="building-new">{{ building.newrepeat }}!</div>
								{% endif %}
							</div>
							<div class="building-content">
								<div class="building_id">{{ "%02d"|format(building.building_no) }}</div>
								<h3 class="building-title"><a href="{{building.path}}">{{building.title}}</a></h3>
								<div class="wishlist">
									<button class="simplefavorite-button" data-postid="{{building.id}}" data-siteid="1" data-groupid="1" data-favoritecount="{{ building.favorite_count }}" data-posttitle="{{building.post_title}}" ></button>
									<span>Favourite</span>
								</div>
								<div class="building-meta">
									<div class="building-schedule">
										{% if building.get_field('saturday_opening_hours').from|length %}
											Saturday : {{ building.get_field('saturday_opening_hours').from }} to {{ building.get_field('saturday_opening_hours').to }}
											{% if building.get_field('sunday_13th_2019_opening_hours').from|length %}
												{{ '<br>' }}
											{% endif %}
										{% endif %}
										{% if building.get_field('sunday_13th_2019_opening_hours').from|length %}
											Sunday : {{ building.get_field('sunday_13th_2019_opening_hours').from }} to {{ building.get_field('sunday_13th_2019_opening_hours').to }}
										{% endif %}
									</div>
									{% if building.type_of_accesstours or building.get_field('other_access') %}
									<div class="building-tours">
										{{ building.type_of_accesstours }}
										{{ (building.get_field('other_access') and building.type_of_accesstours|trim|lower != building.get_field('other_access')|trim|lower ) ? ' // ' ~ building.get_field('other_access') : '' }}
									</div>
									{% endif %}
								</div>	
								<div class="links-wrapper">
									<div class="readmore-wrapper"><a href="{{building.path}}">View Details</a></div>
									{% if building.building_ticket_type[0].slug is not empty and building.building_ticket_type[0].slug != "booked-out" %}
										{% if building.building_ticket_type[0].slug == "no-booking-required" %}
										<div class="building-ticket {{ building.building_ticket_type[0].slug }}"><span>{{building.building_ticket_type[0].name}}</span></div>
										{% else %}
										<a href="{{ building.eventbrite_link }}" target="_blank" class="building-ticket {{ building.building_ticket_type[0].slug }}"><span>{{building.building_ticket_type[0].name}}</span></a>
										{% endif %}	
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>	
		</div>
	</div>
</div>
