<div class="section">
	<div class="events">
		<div class="container">
			<div class="events-wrapper">
				{% if content.hide_event_filter %}
				<div class="event-filters" style="display: none;">
					<ul>
						{% if content.initial_tab is null %}
							<li class="all active" data-type="all">All</li>
						{% else %}
							{% for event_filter in event_filters %}
								{% if content.initial_tab == event_filter.term_id %}
								<li class="active" data-type="{{event_filter.slug}}">{{event_filter.name}}</li>
								{% endif %}
							{% endfor %}
						{% endif %}
					</ul>
				</div>
				{% else %}
				<div class="before-content-spacer" data-spy="affix" data-offset-top="420"></div>
				<div class="event-filters before-content" data-spy="affix" data-offset-top="420">
					<ul>
						{% if content.initial_tab is null %}
							<li class="all active" data-type="all">All</li>
						{% else %}
							<li class="all" data-type="all">All</li>
						{% endif %}
						{% for event_filter in event_filters %}
							<li class="{{event_filter.slug}} {% if content.initial_tab == event_filter.term_id %}active{% endif %}" data-type="{{event_filter.slug}}">{{event_filter.name}}</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
				<div class="event-tiles load-result {% if content.hide_event_filter %}no-filter{% endif %}">
				</div>
				<div class="load-more">
					<span>Load More</span>
				</div>
			</div>	
		</div>
	</div>
</div>