{% extends 'layouts/base.twig' %}

{% block banner %}

	<div class="banner banner-narrow banner-right">
		<div class="banner-container">
			<div class="banner-inner">
				<div class="banner-content banner-content-middle">
					<div class="building-banner-wrapper" style="height:unset;">
						<div class="container-fluid" style="padding-left:0; padding-right: 0;">
							<div class="row" style="display: flex; align-items: center; flex-wrap: wrap;">

								<style>
									@media (min-width: 1440px) {
										.building-banner-wrapper .section-wrapper {
											max-width: 65%;
											margin-left: auto;
										}
									}
									@media (max-width: 991px) {
										.building-banner-wrapper .banner-image {
											width: 100%;
										}
										.mobile-px-0 {
											padding-left: 0;
											padding-right: 0;
										}
										.order-xs-1 {
											order: 1;
										}
										.order-xs-2 {
											order: 2;
										}
									}
								</style>

								<div class="col col-12 col-xs-12 col-md-6 order-xs-2">
									<div class="section-wrapper">
										<div class="banner-text" style="width: 100%;">
											<div class="building_precinct yellow">{{post.category[0].name}}</div>
											<h1 class="building-title">{{ post.title }}</h1>
										</div>
									</div>
								</div>

								<div class="banner-image col col-12 col-xs-12 col-md-6 order-xs-1 mobile-px-0" style="position: relative;">
									<div
											class="slide-wrapper"
											{% if Image(post.thumbnail).src %}
												style="background-image:url('{{ Image(post.thumbnail).src('large') }}');"
											{% endif %}
									>
										{% if Image(post.thumbnail).post_content %}
											<div class="image-credit">{{ Image(post.thumbnail).post_content }}</div>
										{% elseif Image(post.thumbnail).caption %}
											<div class="image-credit">{{ Image(post.thumbnail).caption }}</div>
										{% endif %}
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}
<!-- content -->
{% include 'partials/news_and_media_article.twig' %}
<!-- ./content -->
{% endblock %}
